* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(221, 56%, 31%);
    font-style: none;
    font-size: 20px;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
    /* background: linear-gradient(0deg, rgba(136,0,255,1) 0%, rgba(0,0,0,1) 100%); */
}

.header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    margin: 10px;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* parametros del main */
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}

.titulo-container {
    width: 90%;
}

.contenido {
    width: 90%;
    height: 500px;
}

.alertas {
    width: 90%;
}

.titulo-container,
.contenido,
.alertas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 7px;
    margin: 5px;
    padding: 10px;
    border: 3px solid hsl(221, 56%, 31%);
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: white;
    border-radius: 7px;
    margin: 5px;
    padding: 10px;
}

.menu-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: lightblue;
    border-radius: 5px;
    border: none;
    width: 100%;
}


.button:hover{
    transform: scale(1.05);
    transition: all 0.35s ease-in-out;
    background-color: cornflowerblue;
}




.elements {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.titulo {
    width: 100%;
    height: 50px;
}

.titulo h4 {
    display: flex;
    justify-content: center;
    font-size: clamp(12px, 3vw, 20px);
}

.titulo p {
    display: flex;
    justify-content: start;
    font-size: clamp(12px, 2vw, 18px);
    padding: 15px;
}

.alertas p {
    color: red;
    font-size: 12px;
}

/* Opciones de Menú principal */

#nombre{
    font-size: 15px;
    text-align: center;
}

#apellido{
    font-size: 15px;
    text-align: center;
}


.menus {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.opciones-menu {
    display: flex;
    justify-content: center;
    width: 60%;
    max-width: 300px;
    margin: 10px 0;
    padding: 5px;
    background-color: lightblue;
    border-radius: 5px;
    border: none;
}

.opciones-menu:hover {
    transform: scale(1.05);
    transition: all 0.35s ease-in-out;
    background-color: cornflowerblue;
}

/* Opciones de Menú de busqueda, catalogos y carrito */

.buscador-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

#buscador {
    margin: 0 10px;
    text-align: center;
    font-size: 15px;
    height: 20px;


}

.pista {
    font-size: 12px;
}

.boton-buscar {
    display: flex;
    justify-content: center;
    width: 60px;
    font-size: 14px;
    margin: 10px 0;
    padding: 5px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
}

.boton-buscar:hover{
    transform: scale(1.05);
    transition: all 0.35s ease-in-out;
    background-color: cornflowerblue;
    font-weight: bold;
}

.boton-contextual{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 35px;
    font-size: 15px;
    margin: 0 6px;
    padding: 5px;
    background-color: rgb(78, 125, 155);
    color: white;
    border: none;
    border-radius: 5px;
}

.boton-contextual:hover{
    transition: all 0.35s ease-in-out;
    background-color: cornflowerblue;
    font-weight: bold;
    color: white;
}

.resultado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: lightblue;
    border-radius: 5px;
    margin: 4px 0;
    width: 100%;
    height: 35px;
}

.resultado:hover {
    background-color: lightskyblue;
}

.cabecera {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.resultado-cabecera {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: lightblue;
    border-radius: 5px;
    margin: 4px 0;
    width: 100%;
    height: 35px;
}

.resultado-cabecera div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(8px, 1vw, 14px);
    margin: 0 6px;
    background-color: rgb(78, 125, 155);
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

.resultado div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(8px, 1vw, 14px);
    margin: 0 6px;
    background-color: rgb(78, 125, 155);
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

.td-quitar {
    width: 65px;
}

.td-tipo, .td-cantidad, .td-stock, .td-subtotal{
    width: 5%;
    max-width: 70px;
    min-width: 35px;
}

.td-nombre {
    width: 20%;
    max-width: 250px;
    min-width: 100px;
}

.td-precio {
    width: 6%;
    max-width: 70px;
    min-width: 35px;
}

.td-form {
    width: 150px;
}

.td-form form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.td-form form input {
margin: 0 5px;
font-size: 18px;
height: 20px;
}

.foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.total-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

.total{
    display: flex;
    justify-content: center;
    width: 150px;
    font-size: 20px;
    margin: 10px 0;
    padding: 5px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
}

.nota{
    text-align: center;
    font-size: 12px;
}

#salida, #pagar, #quitar-elementos, #cancelar {
    display: flex;
    justify-content: center;
    width: 250px;
    font-size: 13px;
    margin: 10px 0;
    padding: 5px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
}

#salida:hover, #pagar:hover, #quitar-elementos:hover, #cancelar:hover{
    transform: scale(1.05);
    transition: all 0.35s ease-in-out;
    background-color: cornflowerblue;
    font-weight: bold;
}

/* Opciones exclusivas de Carrito */

.confirmar-pago {
    display: flex;
    justify-content: center;
    width: 250px;
    font-size: 13px;
    margin: 10px 0;
    padding: 5px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
}

.confirmar-pago:hover{
    transform: scale(1.05);
    transition: all 0.35s ease-in-out;
    background-color: red;
    color: white;
    font-weight: bold;
}

#pago{
    text-align: center;
}


/* media queries */
@media (max-width: 700px) {
    .td-tipo, .td-cantidad, .td-stock, .td-subtotal{
        width: 10%;
        max-width: 70px;
        min-width: 35px;
    }
    
    .td-nombre {
        width: 30%;
        max-width: 250px;
        min-width: 100px;
    }
    
    .td-precio {
        width: 10%;
        max-width: 70px;
        min-width: 35px;
    }
    
    .td-form {
        width: 160px;
    }
    .resultado-cabecera , .resultado div {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: clamp(10px, 1.65vw, 19px);
        margin: 0 6px;
        background-color: rgb(78, 125, 155);
        border-radius: 5px;
        font-weight: bold;
        color: white;
    }
}